body {
  background-size: contain;
}

.container {
  font-family: "New Tegomin", serif;
  border: solid 5px #000;
  border-radius: 30px;
  background-color: transparent;
  padding: 10px 10px 0;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 16px #000;
  color: #ececec;
  text-shadow: 1px 1px 2px #000, 0 0 1em #c28b8f, 0 0 0.2em #c28b8f;
}

.searchCity,
.currentWeather .container {
  border: none;
  box-shadow: none;
  padding: 0 10px;
}

.top-image {
  width: 200px;
}

h1 {
  text-align: center;
  line-height: 1.5px;
  font-size: 40px;
  font-family: "Roboto Mono", monospace;
  color: #ececec;
  text-shadow: 1px 1px 2px #000, 0 0 1em #c28b8f, 0 0 0.2em #c28b8f;
  font-weight: 900;
}

.city-input {
  width: 275px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 18px;
  position: relative;
  top: 30px;
}

.city-input:focus {
  background-color: #fff !important;
}

.searchButton {
  font-size: 25px;
  background-color: #c28b8f;
  border: solid 3px #ececec;
  box-shadow: 5px 6px 8px #708098;
  text-shadow: #000 1px 0 10px;
  transition: all 1ms ease-in-out;
}

.searchButton:hover {
  background-color: #ececec;
  border: solid 3px #c28b8f;
  color: #c28b8f;
  text-shadow: none;
}

.searchButton:active,
:focus {
  background-color: #c28b8f !important;
  border: solid 3px #ececec !important;
  text-shadow: #000 1px 0 10px !important;
}

.searchButton {
  position: relative;
  left: 290px;
  bottom: 25px;
}
