body {
  background-color: #455d7a;
}

.container {
  font-family: "New Tegomin", serif;
  border: solid 5px rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  background: linear-gradient(
    179.1deg,
    rgb(247, 238, 238) -1.9%,
    rgb(247, 202, 201) 44.9%,
    rgb(145, 168, 208) 96.1%
  );
  padding: 10px 10px 40px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 16px #000;
  color: #ececec;
  text-shadow: 1px 1px 2px #000, 0 0 1em #c28b8f, 0 0 0.2em #c28b8f;
}

.searchCity,
.currentWeather .container {
  border: none;
  box-shadow: none;
  padding: 0 10px;
}

.top-image {
  width: 200px;
}

h1 {
  text-align: center;
  line-height: 1.5px;
  font-size: 40px;
  font-family: "Roboto Mono", monospace;
  color: #ececec;
  text-shadow: 1px 1px 2px #000, 0 0 1em #c28b8f, 0 0 0.2em #c28b8f;
  font-weight: 900;
  position: relative;
  top: 30px;
}

.city-input {
  width: 275px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 18px;
  position: relative;
  top: 60px;
}

.city-input:focus {
  background-color: #fff !important;
}

.searchButton {
  font-size: 25px;
  background-color: #c28b8f;
  border: solid 3px rgba(0, 0, 0, 0.6);
  color: #ececec;
  padding: 3px 5px;
  border-radius: 10px;
  box-shadow: 5px 6px 8px #708098;
  text-shadow: 1px 1px 2px #000, 0 0 1em #c28b8f, 0 0 0.2em #c28b8f;
  transition: all 1ms ease-in-out;
  position: relative;
  top: 65px;
  left: 10px;
}

.searchButton:hover {
  background-color: #ececec;
  border: solid 3px #c28b8f;
  color: #c28b8f;
  text-shadow: none;
}

.searchButton:active,
:focus {
  background-color: #c28b8f !important;
  border: solid 3px #ececec !important;
  text-shadow: #000 1px 0 10px !important;
}

.searchButton {
  position: relative;
}

.forecast,
.weatherStatement {
  position: relative;
  top: 70px;
}

footer {
  text-align: center;
  opacity: 0.8;
  position: relative;
  top: 40px;
}

.code-link {
  text-decoration: none;
}
